body {
  overflow-x: hidden;
}

/* body {
  font-family: 'Open Sans',sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
} */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 5px 15px 5px 0px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#content-wrapper {
  padding-left: 27px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.pagination_custom {
  text-align: right;
}

.pagination_custom a,
.pagination_custom strong {
  padding: 5px;
}

.pagination_custom a[rel="prev"],
.pagination_custom a[rel="start"] {
  padding: 5px;
  font-weight: bold;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

.tblaw_leftbar {
  width: 100%;
}

.tblaw_leftbar ul {
  list-style-type: none;
}

.tblaw_leftbar ul li {
  cursor: pointer;
}

.tblaw_leftbar ul li .active-question {
  font-weight: bold;
  color: black;
}

.tblaw_leftbar ul li .not-clickable-question {
  font-weight: normal;
  color: #a1a1a1;
}

.tblaw_rightbar .blank-textarea {
  width: 80%;
}

.modal-footer {
  border-top: none;
}

.w-100 {
  width: 100%;
}

.questionaire-page .navbar {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.toolbar ul {
  display:table-row;
  /* background-color: #000; */
}
.toolbar ul li
{
  display: table-cell;
  height: 100px;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle;
}
.toolbar ul li a {
  display:table-cell;
  vertical-align: middle;
  height:100px;
  border: solid 1px black;
}
.toolbar ul li.button a {
  height:50px;
  border: solid 1px black;
}

.modal {
  display: block
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 0;
  }
  #wrapper.toggled {
      padding-left: 250px;
  }
  #sidebar-wrapper {
      width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
      width: 250px;
  }
  #page-content-wrapper {
      padding: 5px 15px 5px 0px;
      position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

